body{
    background-position: relative;
    background-image:url("https://cdn.backyardpoultry.iamcountryside.com/wp-content/uploads/sites/3/2019/03/iStock_000084887435_Small-1-e1502999839964.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150%;
}
.heading{
    width:100%;
   background:oldlace;
}
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  .nav-wrapper{
    background-color: orange;
    padding:5px;
    width:100%;
    position:sticky;
    top:0;
    z-index: 1;
    text-decoration: none;
}
.nav-list{
    list-style: none;
    padding:0;
    display:flex;
    align-items:stretch;
    justify-content: space-around;
    width:100%;
    text-decoration:none;
    color:black;
}
.nav-list a{
    color:black;
    text-decoration:none;
}
.nav-list li{
    display:inline;
    margin:0px;
    font-size:30px;
    color:black;
    text-decoration:none;
}
.nav-list a:hover{
    font-size: 2.5vw;
}
 
.nav-item{
    color:aliceblue;
}
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width:40px;
    height: 20px;
  }
  #submit{
    font-size:20px;
    color:orange;
    margin-left:300px;
    margin-top:50px;
    padding:10px;
  }
  input{
    padding:10px;
  }
  option{
    position:relative; 
    font-size:15px;

  }
  select{
    font-size:15px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  #form p{
    position: relative;
    text-align: center;
    font-size:30px;
    font-weight:italic;
    text-decoration: underline;
  }

.content{
    padding:10px;
    position:relative;
    font-size:30px; 
    padding-left:300px;
}
.input{
    position:relative;
    size:100px;
    font-family:Helvetica, italic;

}
#form{
     justify-content: center;
     font-size:20px;
     width: 50vw;
     padding: auto;
     margin: 13px auto;
     background: oldlace;
     border: 5px solid black;
     padding:70px;
     padding-bottom:5px;
     padding-top:20px;
      
     
}
form label{
  font-size:20px;
  padding-right:5px;
}
.content2{
  padding-left:20px;

}
label{
    text-align:center;
    margin:50px auto;
    padding:auto;
}