body{
    margin:auto;
}
.nav-wrapper{
    background-color: orange;
    padding:5px;
    width:100%;
    position:fixed;
    top:0;
    z-index: 1;
    text-decoration: none;
    margin-bottom:100px;
}
.nav-list{
    list-style: none;
    padding:0;
    display:flex;
    align-items:stretch;
    justify-content: space-around;
    width:100%;
    text-decoration:none;
    color:black;
}
.nav-list a{
    color:black;
    text-decoration:none;
}


.nav-list li{
    display:inline;
    margin:0px;
    font-size:30px;
    color:black;
    text-decoration:none;
}
.nav-list a:hover{
    font-size: 2.5vw;
}
 
.nav-item{
    color:aliceblue;
}
.form-container{
    background-color: #323232;
    width:330px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position:fixed;
    bottom:-280;
    right:0;
    transition: .5s;
}
.form-container:hover{
    bottom:0;

}
#email-icon{
    width:40px;
    float:left;
    margin-right: 8px;
    margin-top:5px;
}
.form-head-container{
    background-color:#000000;
    padding:5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom:10px;
}
.for-item{
    margin-left:15px;
    color:white;
    padding-left:8px;
}
#subject{
    height:100px;
    width:200px;
}
.contact-us-label{
    color:white;
}
#submit-button{
    background-color:#4caf50;
    border:none;
    color:white;
    padding:7px 12px;
    margin:9px 18px;
    text-align: center;
    text-decoration:none;
    display:inline-block;
    cursor:pointer;
    border-radius:5px;

}
#submit-button:hover{
    background-color:darkorange;
}
#caption-1{
    position:absolute;
    top:40%;
    left:25%;
    font-size:3vw;
    color:black;
    animation-name: caption-fade;
    animation-duration: 2s;
}
@keyframes  caption-fade {
    0%{opacity:0; top: 0}
    100%{opacity:1; top:40%}
    
}
.featured-wrapper{
    position:relative;
    display:flex;
    overflow:auto;
    justify-content: space-around;
}
#pop-cat{
    text-align:center;
}
.product-container{
    background-color: orange;
    text-align: center;
    max-width:20%;
    position:relative;
    border-radius:20px;
    border-style: solid;
    border-width: 2px;
    margin-top:8px;
    animation-name: product-fade;
    animation-duration:2s;
    border-color:orange;
    margin-bottom: 60px;
}
@keyframes product-fade{
    0%{opacity:0; margin-top:500px}
    100%{opacity:1; margin-top:8px;}
}
.product-container img{
    max-width:100%;
    position:relative;
   top:36px;
   height:50%;


}

.cat-text{
    font-size:1.5vw;
    font-weight: bold;
    color:  white;
    margin-top:10%;
    margin-bottom: -2%;
}
.btn-container{
    color: white;
    position:relative;
    top:1;
    padding:7%;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
}
.view-more-button{
    background-color:white;
    max-width:100%;
    border:none;
    color: black;
    padding:7px 12px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    margin-top:20px;
    cursor:pointer;
    border-radius: 5px;
}

.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:15px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }
.footer img{ margin-top:10px;}
.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
list-style-type:none;
padding:0px;
display:table;
margin-top: 10px;
margin-right: auto;
margin-bottom: 10px;
margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
.view-more-button:hover{
    background-color: darkorange;
}
#social-media-container{
    background-color: #000000;
    display:inline-block;
    position:fixed;
    right:0;
    bottom:50%;
}
#social-media-container:hover{
cursor: pointer;
}
#facebook-icon-container{
    background-color:#395598;
    transition:.5s;
}
#facebook-icon-container:hover{
    padding-left:20%;
}
#twitter-icon-container{
    background-color:#1cb7eb;
    transition:.5s;
}
#twitter-icon-container:hover{
    padding-left:20%;
}
#instagram-icon-container{
    background-color:#eb4e6d;
    transition:.5s;
}
#instagram-icon-container:hover{
    padding-left:20%;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color:black;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



































